container_commands:
  01_make_storage_writeable:
    command: "chmod -R 775 storage"
  02_make_bootstrap_cache_writeable:
    command: "chmod -R 775 bootstrap/cache"
  03_set_public_directory_permissions:
    command: "chmod -R 755 public"
  04_set_proper_ownership:
    command: "chown -R webapp:webapp /var/app/current"